/*
Syntax error: Not a valid color stop: Sass::Script::String: #white 0%
        on line 45 of /Users/jim/wrk/personal/wp-zurb-boilerplate/scss/_mixins.scss, in `linear-gradient'
        from line 39 of /Users/jim/wrk/personal/wp-zurb-boilerplate/scss/_var.scss
        from line 4 of /Users/jim/wrk/personal/wp-zurb-boilerplate/scss/global.scss

Backtrace:
/Users/jim/wrk/personal/wp-zurb-boilerplate/scss/_mixins.scss:45:in `linear-gradient'
/Users/jim/wrk/personal/wp-zurb-boilerplate/scss/_var.scss:39
/Users/jim/wrk/personal/wp-zurb-boilerplate/scss/global.scss:4
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/sass_extensions/functions/gradient_support.rb:256:in `block in color_stops'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/sass_extensions/functions/gradient_support.rb:246:in `map'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/sass_extensions/functions/gradient_support.rb:246:in `color_stops'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/sass_extensions/functions/gradient_support.rb:303:in `linear_gradient'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/script/funcall.rb:112:in `_perform'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:268:in `block (3 levels) in visit_mixin'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:268:in `map'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:268:in `block (2 levels) in visit_mixin'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:268:in `block in visit_mixin'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:70:in `perform_arguments'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/bin/compass:19:in `load'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/bin/compass:19:in `<main>'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/bin/ruby_noexec_wrapper:14:in `eval'
/Users/jim/.rvm/gems/ruby-1.9.3-p392@wp-boiler/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Not a valid color stop: Sass::Script::String: #white 0%\A         on line 45 of /Users/jim/wrk/personal/wp-zurb-boilerplate/scss/_mixins.scss, in `linear-gradient'\A         from line 39 of /Users/jim/wrk/personal/wp-zurb-boilerplate/scss/_var.scss\A         from line 4 of /Users/jim/wrk/personal/wp-zurb-boilerplate/scss/global.scss"; }
